/* AnimateCSS */
@import "../../bower_components/animate.css/animate.min.css"

/* PureCSS */
@import "../../bower_components/pure/pure-min.css"

/* Icons */
@import "../../css/icons.css"

/* Variables */
black = #242424
blue = #2B2F3E
darkGray = #ccc
gray = #F9F9F9
green = #2ecc71
mediumGray = #F2F2F4
orange = #e67e22
red = #E38065
white = #fff
yellow = lighten(#f1c40f, 25%)

/* Mixins */
Transition()
	transition .2s all ease

/* Styles */
body
	background gray
	color white
	font-family 'Oxygen', sans-serif
	font-size 16px
	letter-spacing 2px
	min-height 500px
	min-width 768px

a
	cursor pointer
	text-decoration none

h1, h2, h3, h4, h5, h6
	font-weight normal
	text-shadow 1px 1px 3px rgba(0, 0, 0, .3)

header
	margin-bottom 2.5em
	overflow hidden

	img
		height 75px

	img, h1
		display block
		margin .5em auto

	h1
		color white
		font-size 2em
		text-transform uppercase
		padding 0

.icon
	margin 0 .75em

.input
	border none
	font-family 'Oxygen', sans-serif
	letter-spacing 2px
	outline none
	padding 1em
	width 100%

.newList
	margin-bottom 2.5em

.panel
	height 100%

.pure-g [class *="pure-u"],.pure-g-r [class *="pure-u"]
	font-family 'Oxygen', sans-serif
	font-size 16px
	letter-spacing 2px

.red-panel
	background red
	border-right 2px solid darken(red, 50%)

.text-center
	text-align center

.todoList
	padding .75em 0 .75em 1em
	border-bottom 1px solid lighten(red, 25%)
	Transition()

	&:first-child
		border-top 1px solid lighten(red, 25%)

	&:hover
		background darken(red, 25%)
		cursor pointer
		padding-left 1.5em

	.name
		font-weight bold
		margin .5em 0

/* Animaciones */
.fadeIn

	&.ng-enter
		animation fadeInUp .5s

	&.ng-leave
		animation fadeOutUp .5s