/* AnimateCSS */
@import "../../bower_components/animate.css/animate.min.css"

/* PureCSS */
@import "../../bower_components/pure/pure-min.css"

/* Icons */
@import "../../css/icons.css"

/* Variables */
black = #666
blueLight = #77B3D4
blue = darken(blueLight, 25%)
gray = #F9F9F9
grayDark = #CCC
grayMedium = #F2F2F4
green = #2ecc71
red = #c0392b
white = #fff

/* Mixins */
AlignChilds(_childsAlign, _verticalAlign)
	text-align center
	*
		display inline-block
		vertical-align _verticalAlign

ApplyBorder(color)
	border 1px solid color
	border-radius 2px

BuildButton(_color)
	background _color
	border 1px solid darken(_color, 25%)
	Transition()

	&:hover
		background darken(_color, 10%)

Transition()
	transition .25s all ease

/* Base */
body
	background gray
	color black
	font-family: sans-serif;
	font-size 20px
	letter-spacing 2px
	min-height 500px
	min-width 768px

input
	color blue
	font-family: sans-serif;
	font-size 20px
	font-weight bold
	letter-spacing 2px
	outline none
	padding .5em
	width 100%
	ApplyBorder(grayDark)

.pure-g [class *="pure-u"]
	font-family: sans-serif;
	font-size 20px
	letter-spacing 2px

.2x
	font-size 2em

.bold
	font-weight bold

.text-center
	text-align center

.title
	font-size 1.25em
	font-style italic
	font-weight bold

.underline
	border-bottom 1px solid grayDark
	padding-bottom .25em

/* Buttons */
.button
	border-radius 2px
	color white
	display block
	font-weight bold
	margin .5em
	padding .75em .5em
	text-shadow 1px 1px 1px rgba(0, 0, 0, .25)
	AlignChilds(center, middle)

	&.green
		BuildButton(green)

	.icon
		margin-right 1em

/* Header */
header
	background white
	border-top 3px solid blue
	border-bottom 1px solid grayDark
	padding 1em .5em
	AlignChilds(center, middle)

	.logo
		display inline-block
		font-size 1.25em
		margin 0
		Transition()
		AlignChilds(center, middle)

		&:hover
			cursor default

			.logo-text
				letter-spacing 10px

		.logo-image
			height 2em
			width 2em

		.logo-text
			letter-spacing 5px
			padding-left .5em
			Transition()

/* Panels */
.left-panel
	padding 1em

	.panel-row
		padding 0 .5em 1em

		.todoList
			border-left 5px solid gray
			padding .25em 0
			margin-bottom 1em
			Transition()

			&:hover
				border-left 5px solid blue
				cursor pointer

				.name
					padding-left 2em

			&.show-true
				border-left 5px solid red

			.name
				padding-left .5em
				Transition()

			.percentage
				display block
				font-weight bold
				text-align right

.right-panel
	margin 1em 1em 1em 2.5em

	.todoListDashboard
		background white
		padding 1em
		ApplyBorder(grayDark)

		&.ng-enter
			animation fadeInUp .5s

		&.ng-leave
			opacity 0