/* PureCSS */
@import "../../bower_components/pure/pure-min.css";
/* Icons */
@import "../../css/icons.css";
/* Variables */
/* Mixins */
/* Styles */
body {
  background: #f4f3f0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}
a {
  text-decoration: none;
}
header {
  background: #e38065;
  border-bottom: 2px solid #8b3219;
}
header img {
  height: 50px;
  margin-right: 0.5em;
  padding: 25px 0;
}
header img,
header h1 {
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
}
header h1 {
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.clear {
  clear: both;
  overflow: hidden;
}
.content {
  color: #242424;
  margin: 2.5em auto;
  max-width: 480px;
}
.icon {
  margin: 0 0.75em;
}
.input {
  background: none;
  border: 1px solid #f4d34b;
  border-radius: 4px;
  color: #242424;
  display: block;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  padding: 0.5em 0;
  text-align: center;
  width: 100%;
}
.left {
  float: left;
}
.list-item {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 #c1bbaa;
          box-shadow: 0 2px 0 #c1bbaa;
  margin: 0 0.5em 1.5em;
}
.list-item .clear a:hover span {
  color: #242424;
}
.list-item .clear span {
  color: #999;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.25em;
  -webkit-transition: 0.2s all ease;
          transition: 0.2s all ease;
  vertical-align: middle;
}
.list-item .tasks {
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-item .tasks form {
  margin-top: 2.5em;
}
.list-item .tasks .icon-checkbox:before {
  content: "\e739";
}
.list-item .tasks .icon-checkbox.task-true:before {
  content: "\e738";
}
.list-item .tasks .icon-remove {
  -webkit-transition: 0.2s all ease;
          transition: 0.2s all ease;
}
.list-item .tasks .icon-remove:hover {
  color: #e38065;
  cursor: pointer;
}
.list-item .tasks .task {
  margin: 1em 0;
}
.list-item .tasks .task .task-true {
  color: #ccc;
}
.list-item .tasks .task .task-true.task-text {
  text-decoration: line-through;
}
.list-item .tasks .task-text {
  padding-left: 10px;
}
.list-item .text {
  background: #f4d34b;
  border: 1px solid #e1b80e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.list-item .text:hover {
  cursor: pointer;
}
.list-item .container {
  padding: 1em;
}
.newList {
  background: #fff;
  border: 2px solid #ccc;
  font-size: 0.8em;
  margin: 2.5em 0.5em 0;
  padding: 1em;
}
.pure-g [class *="pure-u"],
.pure-g-r [class *="pure-u"] {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}
.right {
  float: right;
}
.simple-button {
  border-radius: 4px;
  color: #fff;
  display: block;
  line-height: 20px;
  margin-top: 2em;
  padding: 0.5em;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  vertical-align: middle;
}
.simple-button.green {
  background: #2ecc71;
  -webkit-box-shadow: 0 2px 0 #295;
          box-shadow: 0 2px 0 #295;
}
.simple-button span {
  display: inline-block;
  vertical-align: middle;
}
.text-center {
  text-align: center;
}
.wrapper {
  margin: 2.5em 0;
}
