extend layout

block header
	header
		.pure-g.text-center
			.pure-u-1
				img(src="../assets/logo.png", alt="logo")
				h1 Cherno Alpha

block content
	div.content(ng-app="myApp")
		div(ng-controller="myAppController" ng-init="init()")
			p {{greeting}}