extend layout

block header
	header.container
		h1.logo
			img.logo-image(src="../../assets/logo.png", alt="logo")
			span.logo-text cherno-alpha

	div(ng-app="myApp")
		.pure-g(ng-controller="myAppController", ng-init="init()")
			.pure-u-8-24
				.left-panel
					a(href="#" class="button green" ng-click="addTodoList()")
						span.icon.icon-plus
						span Agregar tarea
					.todoLists-container
						div(ng-repeat="todoList in storage.todoLists" class="todoList")
							span.name {{todoList.name}}
			.pure-u-16-24
				.container

		script(type="text/ng-template", id="addTodoListTemplate")
			div.ngdialog-theme-plain
				p Escribe el nombre de tu lista