extend layout

block header
	header
		.pure-g.text-center
			.pure-u-1
				img(src="../assets/logo.png", alt="logo")
				h1 Cherno Alpha

block content
	div(ng-app="myApp")
		.pure-g(ng-controller="myAppController" ng-init="init()")
			.pure-u-1
				.newList
					.container
						form(ng-submit="addList()")
							input(type="text" class="input text-center" ng-model="newList" placeholder="Crear una lista...")
			.pure-u-1
				.content
					.container.text-center
						h2.section-title Mis listas
					.pure-u-1(ng-repeat="todoList in storage.todoLists" class="fadeIn")
						.container
							.list-item
								.item-header
									span.text.text-center.container.item-title {{todoList.name}}
									div.clear.container.item-panel
										span.left.info {{getAmountOfDoneTasks(todoList)}} de {{todoList.tasks.length}}
										a(class="right" ng-click="deleteList($index)")
											span.icon.icon-close
											span Eliminar
								ul.tasks
									li.task.pure-g(ng-repeat="task in todoList.tasks")
										.container.item-panel
											div(class="pure-u-2-24" ng-click="task.done = !task.done")
												span(class="icon-checkbox task-{{task.done}}")
											div(class="pure-u-20-24" ng-click="task.done = !task.done")
												span(class="task-text task-{{task.done}}") {{task.text}}
											div(class="pure-u-2-24")
												span(class="icon-remove" ng-click="deleteTask(todoList.tasks, $index)")
								div(ng-controller="TaskController")
									.container.item-panel
										form(ng-submit="addTask(todoList.tasks)")
											input(type="text" placeholder="Agregar una tarea..." class="input" ng-model="newTask")