extend layout

block content
	img(src='assets/images/ariadna.jpg', alt='Ella es Ariadna Deon')

block sidebar
	.widget
		h1 Ariadna
		p
			| Hola yo soy Ariadna, pero mis amigos me dicen Rempa (Una larga historia, no la voy a contar ahora).
		p
			| Me gusta adivinar.
		p
			| Y los chocolates.