html
	head
		title Cherno Alpha
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(http-equiv="content-type", content="charset=UTF-8")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css')
		if env == "dev"
			link(rel='stylesheet', href='public/css/styles.css')
		else
			link(rel='stylesheet', href='public/css/styles.min.css')
		script(src="bower_components/angular/angular.min.js")
		script(src="js/app.js")
	body
		block header
		block content